<header class="site-header">
  <a routerLink="/anasayfa" class="brand">Senior Hastanesine Hoş Geldiniz </a>
  <div class="social">
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-linkedin"></i>
    <div class="phone">
      <i class="fa-solid fa-phone"></i>
      <h3>0 232 123 456 78</h3>
    </div>
  </div>
  <nav class="nav">
    <a routerLink="/anasayfa">Anasayfa</a>
    <a routerLink="/randevual">Randevu Al</a>
    <a routerLink="/hakkimizda">Hakkımızda</a>
  </nav>
</header>
