<!-- div içindeki bölgeyi randevu-item şeklinde bir komponenet olarak tanımlayabilirsin -->
<div class="calendar-container">
  <div class="calendar">
    <p>{{ klinik }} Kliniği Randevuları</p>
  </div>
</div>
<!-- <div>
    <p>{{randevular[0].doctor}}</p>
</div> -->

<div *ngFor="let doctor of doctors">
  <div class="btn">
    <button (click)="toggleDetails(doctor)">{{ doctor }}</button>
  </div>
  <app-randevudetails
    *ngIf="doctor === selectedDoctor"
    [doctor]="doctor"
  ></app-randevudetails>
  <!-- <p *ngFor="let date of randevuByDoctor[doctor]">{{date}}</p> -->
</div>
