<!-- Hasta bilgilerini girdikten sonra bu sayfaya yönlendirilecek -->
<!-- Bu sayfa uygun randevuları listeleyecek -->
<!-- <div class="randevular-container">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label for="date">Date: </label>
    <input id="date" type="text" formControlName="date" />
  
    <label for="time">Time: </label>
    <input id="time" type="text" formControlName="time" />
  
    <label for="doctor">Doctor: </label>
    <select id="doctor" name="doctor" formControlName="doctor">
      <option *ngFor="let doctor of doctors" [value]="doctor">{{doctor}}</option>
    </select>
  
    <p>Complete the form to enable button.</p>
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
    <p>Form Status: {{ profileForm.status }}</p>
  </form>
</div> -->
<app-calendar [doctors]="doctors" [klinik]="klinik" [tc]="patientTc"></app-calendar>


